<p id="notice"><%= notice %></p>

<h1>Images</h1>

<%= form_tag images_path, method: :get do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag 'Search' %>
<% end %>

<div id="gallery">
    <% @images.each do |image| %>
        <% image_url = image.thumbnail_300k_url || image.original_url %>
        <a href="<%= image_url %>">
            <%= image_tag image_url %>
        </a>
    <% end %>
</div>

<%= paginate @images %>

<%= link_to 'New Image', new_image_path %>

<script type="text/javascript">
 $(document).ready(function() {
     $("#gallery").lightGallery();
     $("#gallery").justifiedGallery();
 });
</script>
