<p id="notice"><%= notice %></p>

<h1>Images</h1>

<%= form_tag images_path, method: :get do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag 'Search' %>
<% end %>

<div id="lightgallery">
    <% @images.each do |image| %>
        <a href="<%= image.original_url %>">
            <%= image_tag image.original_url %>
        </a>
    <% end %>
</div>

<%= paginate @images %>

<%= link_to 'New Image', new_image_path %>

<script type="text/javascript">
 $(document).ready(function() {
     $("#lightGallery").lightGallery();
 });
</script>
